@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(https://www.swedneck.xyz/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('fonts/Material Icons'),
		local('fonts/MaterialIcons-Regular'),
		url(https://www.swedneck.xyz/fonts/MaterialIcons-Regular.woff2) format('woff2'),
		url(https://www.swedneck.xyz/fonts/MaterialIcons-Regular.woff) format('woff'),
		url(https://www.swedneck.xyz/fonts/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;	/* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	
	/* Support for IE. */
	font-feature-settings: 'liga';
	/* make user unable to select text, as we want it to appear as an icon */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html {
	height: 100%;
	width: 100%;
}
body {
	height: 100%;
	width: 100%;
	background-color: #515151;
	margin: 0;

	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 100%;
}
nav {
	background-color: #222;
	height: 100%;
	width: 75px;
	
	display: flex;
	align-items: center;
}
nav div {
	height: 100%;
	width: 100%;
	
	display: flex;
	flex-direction: column;
}
nav div span {
	width: 100%;
	color: #ccc;
	
	display: flex;
	flex: 1;
	
	justify-content: center;
	align-items: center;
}
nav div span#active {
	background-color: #6da741;
	color: #222;
}
nav div a {
	width: 100%;
	text-decoration: none;
	
	display: flex;
	flex: 1;
	
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
nav div a:hover {
	background-color: #383838;
}
nav div i {
	font-size: 300% !important;
}
.photo-container {
	height: 100%;
	width: 100%;
	overflow: auto;
	
	display: flex;
	flex-wrap: wrap;
}
.photo-container div {
	width: calc(100% / 3);
}
.photo-container div a {
	height:100%;
	width: 100%;
	display: flex;
	justify-content: center;
}
.photo-container img {
	height: 100%;
	width:100%;
}
#social-link-container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.social-link {
	height: auto;
	width: calc(100% / 4);
}
.social-link * {
	height: auto;
	width: 100%;
}
#liberapay {
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: center;
}
#osm {
	font-family: 'Helvetica Neue',Arial,sans-serif;
	text-decoration: none;
	color: white;
	font-size: 3vw;
	line-height: 0px;
	font-weight: bold;
}
