body {
	grid-template-columns: 100%;
	grid-template-rows: auto auto;
}
nav {
	width: 100%;
	max-width: 100%;
	height: 10vh;
	position: fixed;
}
nav div {
	flex-direction: row;
	width: 100%;
}
nav div i {
	font-size: 10vw !important;
}
.photo-container {
	margin-top: 10vh;
}
.photo-container div {
	width: 50%;
}
#social-link-container {
	height: 85vh;
	margin-top: 10vh;
	flex-direction: column;
}
.social-link {
	width: calc(100% / 2.5);
}
#liberapay {
	bottom: 0;
	left: 0;
	height: 5vh;
	width: auto;
}
#liberapay * {
	height: 100%;
}
#osm {
	font-size: 5vw;
}
